.buildDetails .log {
	flex: 1 1 70%;

	overflow: auto;
	min-height: 150px;
	background-color: black;
	color: white;
	padding: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.buildDetails .log code > div:empty:not(.last) {
	height: 9px;
}

.buildDetails .log .command,
.buildDetails .log .command-mini,
.buildDetails .log .command-exp {
	color: lime;
}

.buildDetails .log .command-mini,
.buildDetails .log .command-exp {
	cursor: pointer;
}

.buildDetails .log .command-exp::after {
	/*content: "-";*/
	content: "\f077";
	font: normal normal normal 14px/1 FontAwesome;
	line-height: 0.8rem;
	font-size: 0.6em;

	color: white;
	width: 1rem;
	height: 0.8rem;
	text-align: center;
	background-color: dimgrey;
	border-radius: 4px;
	float: right;
}

.buildDetails .log .command-mini::after {
	/*content: "+";*/
	content: "\f078";
	font: normal normal normal 14px/1 FontAwesome;
	line-height: 0.8rem;
	font-size: 0.6em;

	color: white;
	width: 1rem;
	height: 0.8rem;
	text-align: center;
	background-color: dimgrey;
	border-radius: 4px;
	float: right;
}

.buildDetails .log .info {
	color: limegreen;
}

.buildDetails .log .error {
	color: red;
}

.buildDetails .log .warning {
	color: yellow;
}

.buildDetails .log code > div {
	line-height: 1.3em;
}