.buildsList {
	padding-left: 30px;
}

.buildsList > li{
	display: flex;
	margin-bottom: 8px;
	cursor: pointer;
}

.buildsList > li > div {
	padding: 4px 0px;
}

.buildsList > li > .commitInfo {
	flex: 0 0 58%;
	display: flex;
}

.buildsList > li > .commitInfo > div {
	flex: 0 0 50%;
}

.buildsList > li > .commitInfo > div:first-child {
	flex: 0 0 40%;
}

.buildsList > li > .commitData {
	flex: 0 0 17%;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #dfdfdf;
}

.buildsList > li > .buildInfo {
	/*display: flex; */ /*Screws up safari*/
	flex-direction: column;

	margin-left: 13px;
}

.buildsList > li > .buildInfo > div {
	flex: 0 0 50%;
}



@media (max-width: 660px) {
	.buildsList {
		padding-left: 0px;
	}

	.buildsList > li > .commitInfo > div:first-child > span {
		display: none;
	}

	.buildsList > li > .commitInfo > div:first-child {
		flex: none;
	}

	.buildsList > li > .commitInfo > div:nth-child(2) {
		flex: none;

		width: 96%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	.buildsList > li > .commitData {
		border-right: none;
	}

	.buildsList > li > .commitData > div:first-child {
		display: none;
	}

	.buildsList > li > .buildInfo {
		margin-left: 0;
		display: none;
	}

	.buildsList > li {
		flex-direction: column;
	}

}