.buildDetails pre {
	margin: 0;
}

.buildDetails {
	display: flex;
	flex-direction: column;

	height: calc(100% - 37px);
	padding-top: 0.7em;
	overflow: scroll;
}

.buildDetails > .info {
	display: flex;
}

.buildDetails > .files {
	display: flex;
	flex: 1;
}

.buildDetails > .files > *{
	margin-top: 0.7rem;
}

.buildDetails > .files > :first-child {
	margin-right: 0.7rem;
}

.window.log {
	overflow: scroll;
	min-height: 100px;
}