.settings > div > *:not(:first-child){
	padding-left: 2em;
}

.settings label {
	display: block;
}

.settings label:not(:last-child){
	margin-bottom: 0.5em;
}

.settings label > input{
	margin-left: 1em;
}
