#navigation{
	width: 100vw;
	height: 2rem;

	position: relative;
	top: 0;
	left: 0;

	background-color: black;
	color: #d4d4d4;
	font-size: 1.1rem;
}

#navigation a {
	color: inherit;
	cursor: pointer;
}

#navigation .active {
	cursor: default;
}

#navigation a:hover, #navigation .active {
	color: white !important;
}

#navigation a:visited {
	color: inherit;
}



#navigation .user{
	position: relative;
}

#userDropdown::before{
	content: '';
    pointer-events: none;

    position: absolute;
    right: 0.7em;

    width: 0.6em;
    height: 0.6em;
    
    background: linear-gradient(45deg, transparent 50%, white 0);
    transform: rotate(-45deg) translateY(-92%);
    
    border-top: inherit;
    border-right: inherit;
}

#userDropdown {
	color: black; /*#616161;*/
	background-color: white;
	border: 1px grey solid;
    border-radius: 3px;
    width: 170px;

    position: absolute;
    top: 1.5rem;
    right: 0px;

    font-size: 1rem;

    padding: 1px 0px 1px 0px;

    z-index: 1000;
    
}

#userDropdown a:hover {
	text-decoration: none;
}

#userDropdown ul{
	list-style-type: none;
	padding: inherit;
}

#userDropdown ul > li{
	padding: 4px 6px 4px 6px;
	cursor: pointer;
}

#userDropdown ul > li:hover {
	background-color: black;
	color: white;
}

#userDropdown ul > li:empty{
	background-color: grey;
	height: 1px;
	padding: 0;
	margin-left: 0px;
	margin-right: 0px;
	cursor: default;
}


#navigation > div{
	clear: both;
	padding: 5px;

	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

#navigation > div > *:first-child{
	margin-left: 0px;
}

#navigation > div > *:last-child{
	margin-right: 0px;
}


#navigation > div > *{
	margin-left: 5px;
	margin-right: 5px;
}

#navigation > div *{
	margin-top: 0px;
	margin-bottom: 0px;
	outline: none;
}

#navigation .alignLeft {
	float: left;
}
#navigation .alignRight {
	float: right;
}