# Ignore everything
*

# But not these files...
!.gitignore
!.eslintrc
!README.md
!example_*
!start.sh.in
!*.py
!python-ci.service.in
!install-service.sh
!ssh-fix.sh
!app/
!app/**
!docs/
!docs/**
!src/
!src/**
__pycache__