html {
	box-sizing: border-box;
}
/*  *, *:before, *:after {  */
*{
	box-sizing: inherit;
}

body {
	margin: 0;
	background: #fefefe;
	font: 400 14px CoreSans, Arial,sans-serif;
}

a{
	text-decoration: none;
}

#main{
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

#main > div{
	height: 100%;
}

/*button {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	background: transparent;
	color: #808080;
	cursor: pointer;
}

button:hover {
	color: #222;
}

*:focus {
	outline: none;
}
*/