#login {
    font-size: 22px;
	width: 282px;
	height: 288px;
	position: absolute;
	left: calc(50% - 282px / 2);
	top: calc(50% * 0.9 - 288px / 2);
}

#login > div:first-child {
	font-size: 3.6em;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
}

#login > div {
	position: relative;
}

#login div > .fa {
	position: absolute;
	top: 13px;
	left: 12px;
}

#login input {
	width: 100%;
	font-size: inherit;
}
#login input:not([type="submit"]) {
	margin-bottom: 10px;
	padding-left: 43px;
}


#login input[value="Login"] {
	background-color: #e2e2e2;
	cursor: pointer;
}

#login input[value="Login"]:hover {
	background-color: #cecece;
}

#login input[value="Login"]:active {
	background-color: #bdbdbd;
}
/*
#login input:focus{
	outline: black auto 3px;
}
*/
#login input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  border: 1px solid #dddddd;
}
